<!-- <p>home works!</p> -->
<html lang="en">
<head>
<title>Welcome</title>
</head>
<body>
    <div class="total-container">
      <div class="btns-space">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img src="../../../assets/logo-2.svg" class="logo">
          <a routerLink="/employees-registration"><button mat-raised-button color="Register" class="reg-btn">Register</button></a>
          <a routerLink="/employee-login"><button mat-raised-button color="Register" class="login-btn">Login</button></a>
        </div>
        </div>
    <div class="container">
        <!-- <img src="../../../assets/logo-2.svg" class="logo"> -->
        
      <div fxLayout="row" fxLayoutAlign="center center" class="content-space" >
            <div fxLayout="column" fxflex=0>
                <p class="wel">Welcome To</p><br>
                <p class="tou">Toucan Payments</p><br>
                 <p class="cont">Get the latest industry standard security,<br> powerful dashboards, and much more</p><br>
                 <a routerLink="/employees-registration"><button mat-raised-button color="primary" class="btn-size">Create Account</button></a>

            </div>
            
            <div fxLayout="column" fxflex=0  class="image">
                <img src="../../../assets/emp-wel-img-1.png" alt="" style="height:440px; width:500px;">
            </div>
          </div>
   </div>
    </div>
</body>
</html>